.card__location{
    background-color: black;
    text-align: center;
    display: grid;
    gap: 20px;
    width: auto;
    height: auto;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
    min-width: 367px;
   

}  
.card__location-container {
    display: flex;
   }

.card__location-list{
    padding: 2%;
}